*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Typography */
html{
    font-size: 62.5%;
}
:root{
    --color-primary:#2584ff;
    --color-secondary:#00d9ff;
    --color-accent:#ff3400;
    --color-heading:#1b0760;
    --color-body:#918ca4;
}
body{
     color: var(--color-body);
     font-family: "Inter", sans-serif;
    font-size: 2.4rem;
    line-height: 1.5;
}
h1,h2,h3{
    color: var(--color-heading);
    margin-bottom: 0.5rem;
}

h1{
    font-size: 7rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3rem;
}

@media screen and (min-width:1024px){
    body{
        font-size: 1.8rem;
    }
    h1{
        font-size: 8rem;
    }
    h3{
        font-size: 2.4rem;
    }
}

/* arrow links */
a{
    text-decoration: none;
}
.arrow-link{
    color: var(--color-accent);
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}
.arrow-link::after{
    content: "-->";
    font-weight: 500;
    margin-left: 5px;
    transition: margin-left 0.3s;
}
.arrow-link:hover::after{
    margin-left: 10px;
}

@media  screen and (min-width:1024px) {
    .arrow-link{
        font-size: 1.5rem;
    }
}

/* Badge */
.badge{
    border-radius: 20px;
    padding: 0.5rem 2rem;
    font-size: 2rem;
    font-weight: bold;
}
.badge--primary{
    background-color: var(--color-primary);
    color: #fff;
}
.badge--secondary{
    background-color: var(--color-secondary);
    color:  #fff;
}
.badge--small{
    font-size: 1.6rem;
}

@media screen and (min-width:1024px){
    .badge{
        font-size: 1.5rem;
    }
    .badge--smal{
        font-size: 1.2rem;
    }
}

/* List */
.list{
    list-style: none;
    color: var(--color-heading);
}
.list--inline .list__element{
    display: inline-block;
    margin-right: 2rem;
}
.list--tick{
    list-style-image: url('../icons/tick.svg');
    padding-left: 3rem;
}
.list--tick .list__element{
    padding-left: 0.5rem;
    margin-bottom: 1rem;
}

@media screen and (min-width:1024px){
    .list--tick .list__element{
        padding: 0;
    }
}

/* icons */
.icon-container{
    height: 60px;
    width: 60px;
    background-color: gold;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.icon{
    height: 40px;
    width: 40px;
}
.icon--primary{
    fill: var(--color-primary);
}

/* Button */

.btn{
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 2rem 3rem;
    border-radius: 40px;
    border: 0;
    white-space: nowrap;
    /* text-align: center; */
    cursor: pointer;
}
.btn--primary{
    background-color: var(--color-primary);
    color: #fff;
}
.btn--primary:hover{
    background-color: #5091e6
}
.btn--secondary{
    background-color: var(--color-secondary);
    color: #fff;
}
.btn--secondary:hover{
    background-color: #03c2e3;
}
.btn--accent{
    background-color: var(--color-accent);
    color: white;
}
.btn--accent:hover{
    background-color: #f23202;
}
.btn--block{
    width: 100%;
    display: inline-block;
}

@media screen and (min-width:1024px){
    .btn{
        font-size: 1.5rem;
    }
}