<div style="width: 40%; padding: 4rem">
  <div class="plan plan--popular">
    <div class="card card--secondary">
      <div class="card__header">
        <h3 class="plan__heading">Entry</h3>
        <span class="plan__price">$14</span>
        <span class="billing__cycle">/month</span>
        <span class="badge badge--secondary badge--small">10% OFF</span>
        <p class="plan__description">Easy start on the cloud</p>
      </div>
      <div class="card__body">
        <ul class="list list--tick">
          <li class="list__element">Unlimited Websites</li>
          <li class="list__element">Unlimited Bandwidth</li>
          <li class="list__element">100 GB SSD Storage</li>
          <li class="list__element">3 GB RAM</li>
        </ul>
        <button class="btn btn--outline btn--block">Buy now</button>
      </div>
    </div>
  </div>
</div>
